
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <h1 class="text-center mb-2">Candy Machine</h1>
        <div class="row">
          <div class="col-8 mx-auto">
            <p class="text-center text-muted font-weight-light my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices, nunc id varius pretium, ipsum lacus vehicula leo, ut interdum risus libero eu massa. Cras in dignissim lectus. Etiam pharetra odio sed purus ullamcorper lacinia. Morbi congue erat lectus, non aliquet odio rutrum nec. </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <canvas #canvas></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
